<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The checkList</title>

    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>The CheckList</h1>
        <ajout v-on:nouvellenote="ajouterNote"></ajout>
        <note v-for="todo in todos" v-bind:content="todo" v-on:click="inverser"></note>
    </div>
    <script>
        const vm = Vue.createApp({

            data() {
                return {
                    todos: ["Sauver le monde", "Apprendre VueJs", "Aller manger", "Faire une sieste"]
                }
            },
            methods: {
                inverser() {
                    this.todos.reverse();
                },
                ajouterNote(message) {
                    this.todos.push(message);
                }
            }
        })

        vm.component('note', {
            props: ['content'],
            template: `<p> {{content}}</p>`
        });

        vm.component('ajout',{
            props:[],
            emits:['nouvellenote'],
            data(){
                return{
                    interne: 'Nouveau message'
                }
            },
            methods: {
                enregistrementNote(){
                    this.$emit('nouvellenote',this.interne);
                    this.interne ='';
                }
            },
            template:` <input type="text" v-model="interne" />
        <a href="#" v-on:click="enregistrementNote" v-if="interne!=''">Ajouter</a>
        {{interne}}`
        });
        vm.mount('#app')


    </script>
</body>

</html>